 
    
 <div class="row">
 <div class="large-9 columns" >
    
      <h5>Map</h5>
      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
        <%= image_tag("Map-area.jpg") %><br />
        
      </p>
      
      <p>
        Benoni Bible Church is located on the north side of Benoni in the Rynfield area north of the N12.
      </p>
      <p>
        <%= image_tag("MapMed.jpg") %><br />
        
      </p>
    </div>
 </div>
   