 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Welcome!</h3>
      <p> Benoni Bible Church is a growing congregation in a thriving community on the east side of Johannesburg.

As an evangelical church that is essentially Baptist in its beliefs, we affirm in the gospel and the fundamentals of the Christian faith.

We are committed to practical teaching of the Word of God, meaningful worship, and lasting relationships.

We are an independent church. Although we fellowship with other like-minded churches, we are not a part of a denomination.</p>
 
      <div class="section-container tabs" data-section>
        
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 
 
    <div class="large-3 columns">
       <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
       <%= image_tag("building1.jpg") %><br />
        
      </p>
      <p>Feel free to stop by and visit us any Sunday morning, or join us for our mid-week activities. <%= link_to "Get Directions", directions_path %> to BBC
        
      </p>
    </div>
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>