
<div class="row">    
    
    <div class="large-9 push-3 columns" >
<%= image_tag("Bible4.jpg") %>
      <h3>Resources For Your Christian Walk</h3>
      <p>We have compiled resources here to help you in your Christian walk.</p>

      <p> The <%= link_to "Reading list", reading_list_path %> is just that -
        a list of Christian books on various topics, both practical and theological. 
        There's nothing like reading God's Word, but these books contain helpful insights.</p>

      <p>The (Web Links) connects you with a click to ever-expanding resources on the internet for Bible study, answers to tough questions, clip art, practical articles and daily devotionals.</p>

      <p>The (Rejoice Letters) are brief articles written by Pastor Russ Atmore based on observations from his personal study. More than 100 in number, they cover a wide range of topics and will enhance your Bible knowledge and your walk with the Lord Jesus Christ.</p>

      <p>The Topical Articles are written by Pastor Daniel Warren and others concerning topics relevant to today.</p>

If you have any additional suggestions, let us know!
    

      
      
      
    </div>
    </div>
