<div class="row">     
   <div class="large-9 push-3 columns" >
 

<TITLE>Welcome</TITLE>
          <p><font face="Verdana" size="3" color="#CC9966"><b>B</b></font><font color="#cc9966"><font face="Verdana" size="2"><b><font size="3">Benoni 
          Bible Church is an</font><font face="Verdana" size="2"><b><font size="3"> 
          evangelical </font><font face="Verdana" size="2"><b><font face="Verdana" size="2"><b><font size="3">congregation 
          of believers in the Lord Jesus Christ who are committed to God, His 
          Word, other believers and our community.</font></b></font></b></font></b></font></b></font></font></p>
        <p><font color="#cc9966"><font face="Verdana" size="3"><b>We are </b></font><font face="Verdana" size="2"><b><font size="3">located 
          in Rynfield, Benoni, <br>
          South Africa.</font></b></font></font> </p>
      
      
    <%= image_tag("BenoniWheatMed.jpg", size: "276x317") %>
</div></div>
