<div class="row">     
   <div class="large-9 push-3 columns" >
 


<p>
  <strong>Title:</strong>
  <%= @topic_article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic_article.body %>
</p>

<%= link_to 'Edit', edit_topic_article_path(@topic_article) %> |
<%= link_to 'Back', topic_articles_path %>
</div>
  </div>